@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body{
  background-color: #EEEEEE;
  color : #393E46;
}
#main{
  display:block;
  width:100%;
}
#root{
  width:100%;
  height:80vh;
  margin:0;
  padding:0;
}

#todo-card{
  display:flex;
  flex-direction: column;
  align-items:center;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-around;
  background-color: #EEEEEE;
  color: #393E46;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}
#item-card{
  width: 50%;
  margin:6px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
  padding: 0;;
}
#todo-pagination{
  display:flex;
  flex-direction: column;
  width:80%;
  height:100%;
}
#form-component #form,form{
  height:100%;
}
#form-card{
  width:100%;
  height:100%;
  background-color: #EEEEEE;
  color: #393E46;
}
#site-header,h2{
  text-align: center;
}
